html, body, #root{
  height: 100%;
  font-family: 'Alegreya', serif; color: #95989A; /*darkest gray*/
  text-align: center;
  overflow: scroll;
}
#app-div{
  display: flex; flex-direction: column; justify-content: space-between;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  position: relative;
}

/* Mobile */
@media (max-width : 600px){
  #app-div{

  }
}

/* Tablet */
@media (min-width : 600px) and (max-width : 800px){
  #app-div{

  }
}

/* Web */
@media (min-width : 800px){
  #app-div{

  }
}

.logo-foot{
  bottom: 0; left:0; position: fixed;
  width: 100vw;
  text-align: center;
  margin-top: 52px;
  padding-top: 1%;
  border-top: 1px dashed #EAEAEA;
}
.logo-foot img{
  height: 40px;
}