.Footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA; /*lightest GRAY*/
  bottom: 0; left: 0; position: fixed;
}
.logo{
  height: 48px;
}