#home-block{
  width: 100vw;
  min-height: 300px;
  background-image: url('../images/home-500.png');
  background-repeat: no-repeat;
}
#about-block{
  width: 100vw;
  height: 200px;
  background-image: url('../images/about-500.png');
  background-repeat: no-repeat;
}
#blog-block{
  width: 100%;
  height: 200px;
  background-image: url('../images/blog-500.png');
  background-repeat: no-repeat;
}
#tutorials-block{
  width: 100%;
  height: 200px;
  background-image: url('../images/tutorials-500.png');
  background-repeat: no-repeat;
}
#recipes-block{
  width: 100%;
  height: 200px;
  background-image: url('../images/recipes-500.png');
  background-repeat: no-repeat;
}
#contact-block{
  width: 100%;
  height: 200px;
  background-image: url('../images/contact-500.png');
  background-repeat: no-repeat;
}