/* COLORS, FONTS */
.Navigation{
  display: flex;
  align-items: center;

  background-color: #EAEAEA; /*lightest GRAY*/

  font-family: 'Alegreya', serif;
  font-size: 24px;
}
.nav-logo{
  min-width: 50px;
  min-height: 50px;
  margin: 5px 0 5px 5px;
}
.nav-list{
  width: calc(100% - 55px);
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-list-item{
  padding: 0 15px;
}
.nav-list-item:first-child{
  padding-left: 0;
  margin-left: 25px;
}
.nav-list-item:last-child{
  padding-right: 0;
  margin-right: 80px;
}
a{
  color: #95989A; /*darkest GRAY*/
  text-decoration: none;
  text-shadow: 0 1px 2px;
}
a:hover{
  color: #ED9D8E; /*PINK*/
  font-weight: bold;
}